.header-p{
    font-size: 3erm;
}
.header-h{
    font-size: 60px;
}
.header-h4{
    font-size: 30px;
}
@media (max-width:856px) {
    .header-p{
        font-size: 15px;
    }
    .header-h{
        font-size: 35px;
    }
    .header-h4{
        font-size: 22px;
    }
} 
@media (max-width:460px) {
    .header-p{
        font-size: 12px;
    }
    .header-h{
        font-size: 25px;
    }
    .header-h4{
        font-size: 15px;
    }
    .HeaderMain{
        text-align: center;
    }
} 
